<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elkrnshawy.restaurant_qr_user">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Restaurant_QR_User">
        <activity android:name=".ui.featuresPackage.scanPackage.ScanActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"></activity>
        <activity android:name=".ui.sharedPackage.sharedActivity.HomeActivity" />
        <activity android:name=".ui.sharedPackage.sharedActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>